.favourite {
  width: 90%;
  margin: 20px auto;
  font-family: var(--TextFont);
}
.favtitle {
  margin-bottom: 30px;
  color: var(--DarkBlack);
}
.favourite h1 {
  text-align: center;
  color: var(--DarkBlack);
  letter-spacing: 0.5px;
}
.favouriteitems {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7em;
}
.favouriteitem {
  width: 24%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
}
.favouriteitem h1 {
  font-size: 1.2em;
  pointer-events: none;
}
.favouriteitem img {
  padding: 20px;
  max-width: 250px;
  background-color: var(--LightLightBlack);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.errorfav {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.favouriteerror {
  text-align: center;
  color: var(--error);
  font-weight: bold;
}
.favouritebtn {
  background-color: var(--DarkGreen);
  border: none;
  outline: none;
  color: var(--White);
  padding: 12px 22px;
  border-radius: 5px;
  font-size: 0.8em;
  font-weight: normal;
  letter-spacing: 2px;
}
