.footer {
  width: 90%;
  margin: 0px auto 10px auto;
  display: flex;
  flex-direction: column;
}
.footer2 {
  margin-top: 150px;
  font-family: var(--TextFont);
  text-align: center;
  color: var(--DarkBlack);
  font-size: 0.8em;
}
.footer1 {
  width: 100%;
  position: relative;
  display: flex;
  gap: 20em;
  justify-content: space-between;
  background-color: var(--error);
  padding: 100px 30px;
  align-items: center;
  color: var(--White);
  font-family: var(--TextFont);
  border-radius: 20px;
}

.footer1 div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer1 div:nth-child(1) p {
  font-size: 1.2em;
}
.footer1 div:nth-child(1) h1 {
  font-size: 4.2em;
  line-height: 70px;
}
.footer1 img {
  max-width: 550px;
  position: absolute;
  top: 50%;
  right: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
}
.footer1 div:nth-child(3) {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer1 div:nth-child(3) p:nth-child(1) {
  font-size: 1.2em;
}
.company {
  font-size: 0.85em;
}
.footer1 div:nth-child(3) h1 {
  font-size: 4.2rem;
  line-height: 70px;
  color: transparent;
  -webkit-text-stroke: 1.5px var(--White);
}
.footer1 div:nth-child(3) button {
  width: fit-content;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.9em;
  cursor: pointer;
  transition: all 200ms linear;
  z-index: 10;
}
.footer1 div:nth-child(3) button:hover {
  transform: scale(0.9);
}
#finesmile {
  color: transparent;
  -webkit-text-stroke: 1.5px var(--White);
  z-index: 10;
}

/* Media Queries starts from here */
@media only screen and (max-width: 1024px) {
  .footer1 {
    gap: 5rem;
  }
  .footer img {
    max-width: 300px;
    z-index: 1;
  }
}

@media only screen and (max-width: 768px) {
  .footer1 {
    gap: 5rem;
    padding: 50px 30px;
  }
  .footer1 p {
    z-index: 2;
  }
  #finesmile {
    font-size: 2rem;
    line-height: 40px;
  }
  .footer1 {
    align-items: flex-start;
  }
  .footer1 div:nth-child(1) p {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 425px) {
  .footer1 {
    gap: 2em;
  }
  .footer img {
    max-width: 250px;
    top: 40%;
  }
  .footer1 div:nth-child(3) p:nth-child(1) {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 375px) {
  #finesmile {
    font-size: 1.7rem;
  }
  .footer1 div:nth-child(3) button {
    background: transparent;
    color: var(--White);
    border: 1.5px solid var(--White);
  }
  .footer2 {
    margin-top: 100px;
    font-size: 0.6rem;
  }
}
