.home {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.banner {
  max-width: 1000px;
  margin: 20px auto;
}
@media only screen and (max-width: 1024px) {
  .banner {
    max-width: 680px;
  }
}
