.home {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.banner {
  position: relative;
  width: 90%;
  margin: 20px auto;
  background-color: var(--LightBrown);
  border-radius: 5px;
  display: flex;
  overflow: hidden;
  font-family: var(--TextFont);
}

.banner .banneritem {
  min-width: 100%;
  display: flex;
  height: 50vh;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
}
.banner .banneritem img {
  max-width: 300px;
  object-fit: contain;
}
/* button:not(.buttons button) {
  border: none;
  outline: none;
  background-color: var(--DarkGreen);
  color: var(--White);
  padding: 15px 30px;
  border-radius: 25px;
} */
/* .banner .buttons {
  position: absolute;
  inset: 0;
  top: 50%;
  display: flex;
  justify-content: space-between;
  height: fit-content;
} */
