.navbar {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--TextFont);
  z-index: 1000;
  box-shadow: 0px -5px 15px 0px var(--LightBlack);
}
a {
  color: var(--VeryLightBlack);
}
.topnavbar ul {
  background-color: var(--DarkGreen);
  color: var(--VeryLightBlack);
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}
.topnavbar ul li:first-child {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.topnavbar ul li:nth-child(3) {
  display: flex;
  align-items: center;
  gap: 2em;
}
.topnavbar ul li:nth-child(3) span {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 65px;
  background-color: var(--White);
}
nav div {
  display: flex;
  align-items: center;
  gap: 0.3em;
  color: var(--DarkGreen);
  font-family: var(--TitleFont);
  font-size: 1.4em;
  letter-spacing: 1px;
}
nav ul {
  display: flex;
  align-items: center;
  gap: 2em;
  font-size: 0.9em;
  letter-spacing: 1px;
}
nav ul li:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 1em;
}
nav ul li:nth-child(2) div:nth-child(2) {
  display: flex;
  gap: 1em;
}
.search {
  position: relative;
  display: flex;
  align-items: center;
}
.search span {
  position: absolute;
  right: 13px;
  top: 6px;
  cursor: pointer;
}
.search input {
  width: 450px;
  padding: 7px 60px 7px 15px;
  border-radius: 20px;
  border: none;
  font-size: 0.7em;
  font-family: var(--TextFont);
  background-color: var(--LightLightBlack);
  outline: none;
}
.logo {
  cursor: pointer;
  user-select: none;
}
.dropdown {
  display: flex;
  max-height: 30vh;
  flex-direction: column;
  position: absolute;
  top: 60px;
  font-size: 0.7em;
  background: var(--White);
  padding: 10px 20px;
  gap: 0.5em;
  width: 100%;
  box-shadow: 0px 0px 10px 0px var(--LightLightBlack);
  overflow-y: scroll;
}
.dropdown:empty {
  display: none;
}
.searchproduct {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  font-family: var(--FontText);
  border-bottom: 1px solid var(--LightLightBlack);
  padding: 10px;
  cursor: pointer;
}
.searchproduct img {
  max-width: 50px;
  background-color: var(--LightLightBlack);
  padding: 5px;
  border-radius: 5px;
}
.searchproduct p {
  cursor: pointer;
}
.cartlink {
  position: relative;
}
.cartlink span {
  width: 25px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10px;
  left: 17px;
  background-color: var(--LightGreen);
  padding: 3px 0px;
  border-radius: 50%;
  color: var(--White);
  font-family: var(--TextFont);
  font-size: 0.65rem;
  border: 2px solid var(--White);
}

/* Media Queries for navbar  */
@media only screen and (max-width: 1024px) {
  .topnavbar ul {
    font-size: 0.7rem;
    padding: 10px 20px;
  }
  nav {
    padding: 15px 40px;
  }
  .search input {
    width: 350px;
  }
  .logo {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 768px) {
  .dropdown {
    font-size: 0.6rem;
    padding: 10px;
  }
  .searchproduct img {
    max-width: 40px;
  }
  .search input {
    max-width: 280px;
  }
  .logo {
    display: none;
  }
  .topnavbar ul {
    font-size: 0.5rem;
    letter-spacing: 0.3px;
    padding: 10px;
  }
  nav {
    padding: 15px 20px;
    justify-content: center;
    align-items: center;
  }
  nav ul {
    font-size: 0.8rem;
    gap: 1em;
  }
}

@media only screen and (max-width: 425px) {
  .topnavbar ul {
    padding: 10px 5px;
    font-size: 0.42rem;
    letter-spacing: none;
  }
  .topnavbar ul li:nth-child(3) {
    gap: 7px;
  }
  nav ul {
    gap: 1em;
  }
  nav .navicon {
    font-size: 1.4em;
    padding-top: 5px;
  }
  nav ul li:nth-child(2) div:nth-child(2) {
    gap: 5px;
  }
  .search input {
    max-width: 160px;
    padding: 7px 40px 7px 15px;
    transition: all 200ms ease-out;
  }
  #searchinput:focus {
    max-width: 280px;
  }
  #none {
    display: none;
  }
  #notnone {
    display: block;
  }
  .cartlink span {
    width: 10px;
    padding: 1px 8px;
  }
}
