.productPage {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 0.7em;
}
.productPage .product {
  width: 24%;
}
.product {
  display: flex;
  flex-direction: column;
  gap: 0.7em;
  margin-bottom: 30px;
  cursor: pointer;
}

.product .img {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--VeryLightBlack);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
}
.product img {
  z-index: 50;
  max-width: 230px;
  object-fit: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.product .img span {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px;
  background-color: var(--White);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 55;
}

.product button {
  width: 50%;
}

.product .names {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .names h1 {
  font-family: var(--TextFont);
  font-size: 1.1em;
  color: var(--DarkBlack);
}

.product .names p span {
  font-size: 0.8em;
}
.product .names p {
  font-family: var(--TextFont);
  font-size: 0.9em;
  color: var(--DarkBlack);
  font-weight: bold;
}
.product button {
  border: 1px solid var(--DarkBlack);
  background-color: transparent;
  outline: transparent;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 30px;
  color: var(--Black);
  font-family: var(--TextFont);
  font-size: 0.9em;
  transition: all 150ms linear;
  letter-spacing: 1px;
}
.product button:hover {
  background-color: var(--DarkGreen);
  border-color: var(--DarkGreen);
  color: var(--White);
}

.icon {
  font-size: 0.9rem;
  color: var(--LightGreen);
}
.rating {
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-family: var(--TextFont);
}
.rating p {
  font-size: 0.8em;
}
.products {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding-bottom: 100px;
}
.products .producttitle {
  width: 90%;
  margin: 20px auto;
  font-family: var(--TextFont);
  letter-spacing: 1px;
  color: var(--DarkBlack);
  font-size: 1.7em;
}
.filter {
  width: 90%;
  display: flex;
  align-items: center;
  gap: 2em;
}
.filter select {
  padding: 5px 30px 5px 15px;
  font-family: var(--TextFont);
  font-size: 1em;
  border-radius: 10px;
  border: none;
  background-color: var(--LightLightBlack);
  appearance: none;
  cursor: pointer;
  outline-color: transparent;
}
.filter div {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--TextFont);
  font-size: 0.84em;
}
.filter div .icon-container {
  width: 20px;
  position: absolute;
  right: 3px;
  bottom: 2.5px;
  pointer-events: none;
}
.filter div:last-child {
  background-color: var(--LightLightBlack);
  padding: 5px 30px 5px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
  align-self: flex-end;
  border-radius: 10px;
}

/* For singleProduct.jsx */
.singleProduct {
  display: flex;
  width: 80%;
  margin: 0 auto;
  padding: 30px 50px 50px 50px;
  gap: 5em;
}
.singleProduct .singleProductright {
  width: 50%;
}
.singleProduct .singleProductleft {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  /* justify-content: center; */
}
.singleProductleft div:nth-child(1) {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--LightLightBlack);
  border-radius: 10px;
}
.singleProductleft div:nth-child(1) img {
  max-width: 350px;
  max-height: 300px;
  border-radius: 10px;
  cursor: pointer;
  padding: 50px;
}

.singleProductleft div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.singleProductleft div:nth-child(2) img {
  width: 22%;
  height: 70%;
  background-color: var(--LightLightBlack);
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  background-blend-mode: darken;
  padding: 5px;
  object-fit: contain;
  border: 2px solid transparent;
}
.singleProductright {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.singleProductright div:first-child:not(.singleProductright div div) {
  border-bottom: 1px solid var(--LightLightBlack);
}
.singleProductright div:first-child h1 {
  font-family: var(--TextFont);
  color: var(--DarkBlack);
  font-size: 1.7em;
  margin-bottom: 10px;
}
.singleProductright div:first-child p {
  font-family: var(--TextFont);
  font-size: 0.85em;
  color: var(--DarkBlack);
}
.singlerating {
  margin-top: 10px;
  margin-bottom: 10px;
}
.singleProductright div:nth-child(2) p {
  font-family: var(--TextFont);
  color: var(--DarkGreen);
  font-size: 1.5em;
}
.singleProductright div:nth-child(2) p span {
  font-size: 0.8em;
}
.singleProductright div:nth-child(2) {
  display: flex;
  align-items: center;
  gap: 5em;
  border-bottom: 1px solid var(--LightLightBlack);
  padding-bottom: 15px;
}
.singleProductright div:nth-child(2) div {
  display: flex;
  align-items: center;
  gap: 1.2em;
  font-family: var(--TextFont);
  font-size: 1.4em;
  background-color: var(--LightLightBlack);
  padding: 10px 25px;
  border-radius: 25px;
  color: var(--DarkGreen);
}
.singleProductright div:nth-child(2) div button {
  border: none;
}

.singleProductright div:nth-child(3) {
  display: flex;
  gap: 1em;
}
.singleProductright div:nth-child(3) button:nth-child(1) {
  margin-top: 10px;
  font-family: var(--TextFont);
  border: none;
  padding: 15px 40px;
  background-color: var(--DarkGreen);
  color: var(--VeryLightBlack);
  border-radius: 30px;
  letter-spacing: 0.5px;
  cursor: pointer;
}
.singleProductright div:nth-child(3) button:nth-child(2) {
  margin-top: 10px;
  font-family: var(--TextFont);
  border: none;
  padding: 13px 35px;
  background-color: transparent;
  color: var(--DarkBlack);
  border-radius: 30px;
  letter-spacing: 0.5px;
  cursor: pointer;
  border: 1px solid var(--DarkBlack);
}
.singleProductright div:nth-child(3) button {
  transition: all 200ms ease-in-out;
}
.singleProductright div:nth-child(3) button:hover {
  transform: scale(0.95);
}
.showmore {
  padding-left: 5px;
  font-size: 1.1em;
  color: var(--LightBlack);
  cursor: pointer;
}
.quantityvalue {
  width: 50px;
  display: flex;
  justify-content: center;
}
